<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyFiktivNyckel_1234567890abcdefghijk</string>
	<key>GCM_SENDER_ID</key>
	<string>1054643246207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Svardteknik.Lilla-jag-3</string>
	<key>PROJECT_ID</key>
	<string>lilla-jag</string>
	<key>STORAGE_BUCKET</key>
	<string>lilla-jag.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054643246207:ios:aae55b9ac28f3eed929b4a</string>
</dict>
</plist>